[submodule ".registry"]
	path = .registry
	url = https://github.com/aliciaschep/universe
	shallow = true
	branch = HEAD
[submodule "vegabrite"]
	path = vegabrite
	url = https://github.com/vegawidget/vegabrite
	shallow = true
	registered = true
[submodule "gglabeller"]
	path = gglabeller
	url = https://github.com/AliciaSchep/gglabeller
	shallow = true
	registered = true
[submodule "chromVAR"]
	path = chromVAR
	url = https://github.com/GreenleafLab/chromVAR
	shallow = true
	registered = true
[submodule "motifmatchr"]
	path = motifmatchr
	url = https://github.com/GreenleafLab/motifmatchr
	shallow = true
	registered = true
[submodule "iheatmapr"]
	path = iheatmapr
	url = https://github.com/ropensci/iheatmapr
	shallow = true
	registered = true
